Source: huayra2048
Section: games
Priority: extra
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0), git, npm
Standards-Version: 3.9.3
Homepage: https://github.com/HuayraLinux/huayra2048
Vcs-Git: git://github.com/HuayraLinux/huayra2048.git
Vcs-Browser: https://github.com/HuayraLinux/huayra2048

Package: huayra2048
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, www-browser,
         node-webkit
Description: ¡Un juego de ingenio y matemática!
 Sumá potencias de 2 en el tablero hasta llegar a 2048.
 ¡Evitá que se llene la pantalla de números!
