#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# pbuilder doesn't set a valid $HOME on purpose, we need it for the npm cache
ifeq ($(shell test -e $(HOME) || echo no),no)
    export HOME=/tmp
endif

%:
	dh $@ 

override_dh_auto_configure:
	npm install
